<h1>Add new course </h1>

<form action="/add" method="POST">
    <div class="input-field col s6">
        <input id="title"name="title"  type="text" class="validate" required>
        <label for="title">Course Name</label>
        <span class="helper-text" data-error="Helper text"></span>

    </div>

    <div class="input-field col s6">
        <input id="price" name="price" type="number" class="validate" min="1">
        <label for="price">Price</label>
        <span class="helper-text" data-error="Enter Price"></span>
    </div>

    <div class="input-field col s6">
        <input id="image" name="image" type="text" class="validate">
        <label for="image">Url Image</label>
    </div>

    <input name="_csrf" value="{{csrf}}" hidden>

    <button type="submit" class="btn">Submit</button>
</form>