<div class="row">

    <div id="login" class="col s10 offset-s1 text-center">
        <h1>Enter new password</h1>

        {{#if error}}
            <p class="error">{{error}}</p>
        {{/if}}

        <form action="/auth/password" method="POST">
            <div class="input-field">
                <input id="password" name="password" type="password" class="validate" required>
                <label for="password">Password</label>
                <span class="helper-text" data-error="Enter password"></span>
            </div>

            <input name="_csrf" value="{{csrf}}" hidden>
            <input name="userId" value="{{userId}}" hidden>
            <input name="token" value="{{token}}" hidden>

            <button type="submit" class="btn">Update Password</button>
        </form>
    </div>

</div>
